@{
    ViewBag.Title = "myCountry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- works -->
<section class="news text-center" id="work">
    <img src="~/images/Palestine.jpg" alt="news image" class="imgg">
    <br />
    <br />



    <h3 class="heading text-capitalize"> My Country ( Palestine ) </h3>
    <p class="subs mt-4">
        The State of Palestine, or the Promised Land or the Holy Land,
        is an Arab Islamic state, found in an area between the Jordan River and the Mediterranean Sea.
        It is a state recognized by the United Nations as a sovereign state, but in the current situation it does not possess any on its land;
        It is under the rule of the Israeli occupation, which controlled most of its lands, with the exception of the West Bank and the Gaza Strip,
        and thus the Palestinian lands are divided into three main sections: the lands under the full control of the Palestinians,
        the lands under the full control of the Jews, and the lands under the control of both parties.
    </p>

    <h4 style="text-align:center" class="subs mt-4"> Some Palestinian cities</h4>
    <div class="row news-grids mt-5">
        <div class="col-lg-4 col-md-6 newsgrid1">
            <div class="newsgrid_tp new_grd">
                <img src="~/images/Jericho.jpg" alt="news image" class="img-fluid">
                <div class="news_bt">
                    <h4>Jericho</h4>
                    <p class="mt-4">
                        Jericho is an ancient historic Palestinian city located in the West Bank near the Jordan River and north of the Dead Sea,
                        dating back to 10,000 BC. It is the capital of Jericho Governorate and<span>it is the oldest city in history.</span>
                        In 2007, it had a population of 18,110.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6  newsgrid2">
            <div class="newsgrid_tp new_grd1">
                <img src="~/images/jersualem.jpg" alt="news image" class="img-fluid">
                <div class="news_bt">
                    <h4>Jerusalem</h4>
                    <p class="mt-4">
                        Jerusalem is the capital of the State of Palestine.
                        It was and still is a holy city for all nations and civilizations that followed it. There are many holy places such as: Al-Aqsa Mosque,
                        the Dome of the Rock
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6  newsgrid5">
            <div class="newsgrid_tp new_grd1">
                <img src="~/images/Gaza.jpg" alt="news image" class="img-fluid">
                <div class="news_bt">
                    <h4>Gaza</h4>
                    <p class="mt-4">
                        Gaza is a Palestinian coastal city, and the largest city in the Gaza Strip is located in its north, at the southern tip of the eastern coast of the Mediterranean Sea. It is 78 km from the city of Jerusalem to the southwest.
                        It covers an area of 56 km2, making it one of the most densely populated cities in the world.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-md-5 mt-5 newsgrid1">
            <div class="newsgrid_tp new_grd">
                <img src="~/images/Hebron.jpg" alt="news image" class="img-fluid">
                <div class="news_bt">
                    <h4>Hebron </h4>
                    <p class="mt-4">
                        A Palestinian city,
                        the center of Hebron Governorate and the largest city in the West Bank in terms of population and area,
                        has religious significance in the three Abrahamic religions, with the Ibrahimi Mosque in the middle,
                        which is believed to contain the shrines of the prophets: Abraham, Isaac, Jacob, and their wives.

                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-md-5 mt-5 newsgrid2">
            <div class="newsgrid_tp new_grd1">
                <img src="~/images/Nablus.jpg" alt="news image" class="img-fluid">
                <div class="news_bt">
                    <h4>Consectetur</h4>
                    <p class="mt-4">
                        Nablus is one of the largest Palestinian cities in terms of population and most important location.
                        It is the headquarters of the largest Palestinian universities.
                        Nablus is considered the center of the northern West Bank in addition to being the capital of the Nablus Governorate,
                        which includes 56 villages and has an estimated population of 388,321 people.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-md-5 mt-5 newsgrid2">
            <div class="newsgrid_tp new_grd1">
                <img src="~/images/Jaffa.jpg" alt="news image" class="img-fluid">
                <div class="news_bt">
                    <h4>Jaffa</h4>
                    <p class="mt-4">
                        The city of Jaffa is a historical Palestinian city located on the coast of the Mediterranean Sea.
                        It is one of the most important Palestinian cities,
                        which is about 55 km from the city of Jerusalem to the west. It was founded by the Canaanites in the fourth millennium BC.
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- //works -->
