@{
    ViewBag.Title = "mySelf";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="banner-bottom" id="about">
    <div class="container">
        <div class="inner-sec">
            <div class="row middle-grids">
                <div class="col-lg-4 advantage-grid-info1">
                    <div class="advantage_left1 text-center">
                        <img src="~/images/me.png" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-lg-8 advantage-grid-info">
                    <div class="advantage_left">
                        <h1 class="heading text-capitalize mb-sm-5 mb-4">Hi. I'm <span>Mohammed Saqer.</span></h1>
                        <p class="mt-4">
                            I am from Palestine, specifically the Gaza Strip
                            I am 21 years old and I am studying computer engineering in my third year of university
                            I have two languages other than the official language in Palestine (Arabic), which are: English and Turkish
                            I know many programming languages such as C++, C#, C#, Java, and other languages
                        </p>

                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- Amazing Divider-->
    <!--  <hr style="margin-bottom:15px" class="hrr"> -->
    <!-- /Amazing Divider-->
    <h1 style=" text-align:center;padding-bottom:40px; padding-top:80px; font-family:sans-serif ">
        More Information About My Skills
    </h1>
    <!-- Maybe i can add a divider-->
    <h2 style="padding-bottom:80px">In Programming</h2>
    <div class="clearfix">

        <div style="margin-left:120px" class="c100 p92  ">
            <span>92%</span>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>

        </div>
        <div style="margin-left:50px" class="c100 p97 ">
            <span>97%</span>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>
        <div style="margin-left:50px" class="c100 p83 ">
            <span>83%</span>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>
        <div style="margin-left:50px" class="c100 p77 ">
            <span>77%</span>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>
        <div style="margin-left:50px" class="c100 p86 ">
            <span>86%</span>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>
    </div>
    <table width="500px">

        <td style="padding-left:180px; font-size:20px;">C++</td>
        <td style="padding-left: 150px; font-size:20px;">HTML</td>
        <td style="padding-left: 120px; font-size: 20px;">CSS</td>
        <td style="padding-left: 140px; font-size: 20px;">Flutter</td>
        <td style="padding-left: 120px; font-size: 20px;">C#</td>
    </table>
    <br />
    <br />
    <br />
    <!-- Amazing Divider-->
    <!--  <hr style="margin-bottom:15px" class="hrr"> -->
    <!-- /Simple Divider -->
    <!-- About my Languages-->
    <h2 style=" padding-bottom:80px; font-family:sans-serif">In Languages</h2>
    <div class="clearfix">

        <div style="margin-left: 100px;" class="c100 p100 big">
            <span>100%</span>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>

        </div>
        <div style="margin-left: 100px;" class="c100 p80 big">
            <span>80%</span>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>
        <div style="margin-left: 100px;" class="c100 p75 big">
            <span>75%</span>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>

    </div>
    <table width="500px">

        <td style="padding-left:180px; font-size:20px;">Arabic</td>
        <td style="padding-left: 320px; font-size:20px;">English</td>
        <td style="padding-left: 280px; font-size: 20px;">Turkish</td>

    </table>






</section>


